@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.circle {
    width: 100px;
    height: 100px;
    line-height: 95px;
    border-radius: 50%;
    font-size: 1em;
    color: #fff;
    text-align: center;
    background: #000;
    font-family: 'Anton', sans-serif;
    border: 5px solid white;
}
.circle-sm {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-size: .5em;
    color: #000;
    text-align: center;
    background: #000;
    font-family: 'Anton', sans-serif;
}
.circ-o{
    background-color: #e6563b;
}
.circ-y{
    background-color: #eb9d3a;
}
.circ-g{
    background-color: #7cb06c;
}
.circ-b{
    background-color: #00aba9;
}
body {
    background-color: #f0f0f0;
}
.title{
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
}
.subtitle {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}
.subtitle-last{
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
}
.nav-text{
    font-family: 'Abel', sans-serif;
}
.body-text{
    font-family: 'Abel', sans-serif;
    font-size: .9em
}
.img-last{
    width: 80px;
    height: 80px;
    border: 4px solid #e6e6e6;
    border-radius: 5px;
}
