.circle {
    width: 105px;
    height: 105px;
    line-height: 105px;
    border-radius: 50%;
    font-size: 1em;
    color: #fff;
    text-align: center;
    background: #000;
}
body {
    background-color: #e6e6e6;
}